parameters:
    phpVersion: 80100
    level: max
    treatPhpDocTypesAsCertain: false
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
    paths:
        - src
        - tests
    symfony:
        constantHassers: false
